<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Synthesizer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Style -->
    <link type="text/css" href="../static/src/css/style.css" rel="stylesheet">
    <script src="https://unpkg.com/meyda/dist/web/meyda.min.js"></script>
</head>

<body>
    <h1> 발라드 장르 </h1>
    <div id="content">
        <div class="thetitle" id="title"></div>
        <label for="thefile" class="file">
            <input type="file" id="thefile" accept="audio/*" />
        </label>

        <audio id="audio" controls></audio>
        
        <canvas id="sparkle-canvas"></canvas>
        <canvas id="starfield-canvas"></canvas>
        <!-- <canvas></canvas> -->
        <canvas id="fluid-canvas"></canvas>
        <div id="vanta-background"></div>
    </div>
    </div>

    <div id="visualButtons">
        <button class="visualButtons" id="sparkle"> Sparkle </button>
        <button class="visualButtons" id="starfield"> Starfield </button>
        <button class="visualButtons" id="birds"> Birds </button>
        <button class="visualButtons" id="fluid"> Fluid </button>
    </div>
    

    <div id="customSliders">
        <button id="backgroundColor">Background Color <input id="backgroundColorID" type="text" data-coloris> </button> <button id="backgroundColorSaveButton"> SAVE </button>
        <br>
        <button id="objectColor1">Object Color 1  <input type="text" data-coloris> </button> <button id="objectColor1SaveButton"> SAVE </button>
        <br>
        <button id="objectColor2">Object Color 2  <input type="text" data-coloris> </button> <button id="objectColor2SaveButton"> SAVE </button>
    </div>

    
    <p id="identityVisual"></p>

    <script>
        window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
        ga('create', 'UA-105392568-1', 'auto');
        ga('send', 'pageview');
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r134/three.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/mdbassit/Coloris@latest/dist/coloris.min.css"/>
    <script src="https://cdn.jsdelivr.net/gh/mdbassit/Coloris@latest/dist/coloris.min.js"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/vanta/dist/vanta.birds.min.js"></script>
    <!-- <script type="module" defer src="./static/src/js/dist/birds.js"></script> -->

    <script type="module" defer src="./static/src/js/dist/circle.js"></script>
    <script type="module" defer src="./static/src/js/dist/sparkle.js"></script>
    <script type="module" defer src="./static/src/js/dist/starfield.js"></script>
    <script type="module" defer src="./static/src/js/dist/vanta.js"></script>
    <script type="module" defer src="./static/src/js/dist/fluid.js"></script>
    <script type="module" defer src="./static/src/js/dist/colorpicker.js"></script>
</body>
</html>