<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Synthesizer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Style -->
    <link type="text/css" href="../static/src/css/style.css" rel="stylesheet">
</head>

<body>
    <h1> 로그인 메인 화면 </h1>
    <div class="login">
        <div class="form">
          <form action="/menu" method="POST" class="login-form">
            <p>VizHap Synthesizer</p>
            <input type="text" placeholder="ID" name='id_name' required/>
            <input type="password" placeholder="Password" name='pw_name' required/>
            <button type="submit">Enter</button>
          </form>  
        </div>
    </div>
</body>
</html>