<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Synthesizer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Style -->
    <link type="text/css" href="../static/src/css/style.css" rel="stylesheet">
    <!-- <link type="text/css" href="../static/src/css/menu.css" rel="stylesheet"> -->
    <script src="https://unpkg.com/meyda/dist/web/meyda.min.js"></script>
</head>

<body>

    <div id="shape-canvas"></div>

    <div id="content">
        <h4>Music Input</h4>
        <!-- <div class="thetitle" id="title"></div> -->
        <label for="thefile" class="file">
            <input type="file" id="thefile" accept="audio/*" />
        </label>
        <audio id="audio" controls></audio>

        <div id="timestamp">
            <h4>Time Stamp</h4>
        </div>
    </div>



    <div class="customMenu">
        <div class="shapeMenuClass">
            <h4>Custom Menu</h4>
            <br>
            <button class="shapeButtonClass" id="shapeCircle">Circle</button>
            <button class="shapeButtonClass" id="shapeBox">Box</button> 
            <button class="shapeButtonClass" id="shapeCone">Cone</button>
            <button class="shapeButtonClass" id="shapeIcosahedron">Icosahedron</button>
            <button class="shapeButtonClass" id="shapeTorus">Torus</button>
        </div>
        <br>
        <div id="customSliders">
            <button id="backgroundColor">Background Color <input id="backgroundColorID" type="text" data-coloris> </button> <button id="backgroundColorSaveButton"> SAVE </button>
            <br>
            <button id="objectColor1">Object Color 1  <input type="text" data-coloris> </button> <button id="objectColor1SaveButton"> SAVE </button>
    </div>
    <br>

    <div class="saveTemplate">
        <h4>Save Template</h4>

    </div>



    
    <p id="identityVisual"></p>

    <script>
        window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
        ga('create', 'UA-105392568-1', 'auto');
        ga('send', 'pageview');
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r134/three.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/mdbassit/Coloris@latest/dist/coloris.min.css"/>
    <script src="https://cdn.jsdelivr.net/gh/mdbassit/Coloris@latest/dist/coloris.min.js"></script>


    <script type="module" defer src="./static/src/js/dist/circle.js"></script>
    <script type="module" defer src="./static/src/js/dist/colorpicker.js"></script>
</body>
</html>