<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Synthesizer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Style -->
    <link type="text/css" href="../static/src/css/style.css" rel="stylesheet">
    <!-- <link type="text/css" href="../static/src/css/menu.css" rel="stylesheet"> -->
    <script src="https://unpkg.com/meyda/dist/web/meyda.min.js"></script>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.0/jquery-ui.js"></script>


</head>

<body>

    <div id="shape-canvas"></div>

    <div id="content">
        <h4>Music Input</h4>
        <!-- <div class="thetitle" id="title"></div> -->
        <label for="thefile" class="file">
            <input type="file" id="thefile" accept="audio/*" />
            <pre id="filepath" style = "display: none;"> None </pre>
        </label>
        <audio id="audio" style= "display:none" controls></audio>
        <button class = "playButtonClass" id="playButton">Play</button>

        <div id="timestamp">
            <h4>Time Stamp</h4>
            <button class="TemplateSaveButton"id="templateSave"> Template Save </button>
            <p>
                <input type="text" id="rangeTime" readonly style="border:0; color:#f6931f; font-weight:bold;">
            <div id="slider"></div>
            <p>
                <input type="text" id="playTime" readonly style="border:0; color:#f6931f; font-weight:bold;">
            </p>
            <div id="slider-range"></div>
        
        
        
        
        
        </div>
    </div>

    
    <div class="shapeEffectClass">
        <button class="effectButtonClass" id="effectScale"> Scale </button>
        <button class="effectButtonClass" id="effectBlink"> Blink </button>
        <button class="effectButtonClass" id="effectRotate"> Rotate </button>
        <button class="effectButtonClass" id="effectGradient"> Gradient </button>
        <button class="effectButtonClass" id="effectHorizontal"> Horizontal </button>
        <button class="effectButtonClass" id="effectVertical"> Veritcal </button>
        <button class="effectButtonClass" id="effectIncreasing"> Increasing </button>
        <button class="effectButtonClass" id="effectDecreasing"> Decreasing </button>
    </div>

    <div class="customMenu">
        <div class="shapeMenuClass" id="shapeMenu-Scale">
            <h4>Scale Menu</h4>
            <h5>Circle</h5>
            <button class="shapeButtonClass" id="shapeCircle-Scale">Circle Scale</button>
            <button class="shapeButtonClass" id="shapeSphere-Scale">Sphere Scale</button>
            <h5>Triangle</h5>
            <button class="shapeButtonClass" id="shapeTriangle-Scale">Trianlge Scale</button>
            <button class="shapeButtonClass" id="shapeCone-Scale">Cone Scale</button>
            <h5>Rectangle</h5>
            <button class="shapeButtonClass" id="shapeRectangle-Scale">Rectangle Scale</button>
            <button class="shapeButtonClass" id="shapeBox-Scale">Box Scale</button>
            <h5>Pentagon</h5>
            <button class="shapeButtonClass" id="shapePentagon-Scale">Pentagon Scale</button>
            <button class="shapeButtonClass" id="shapeDodecahedron-Scale">Dodecahedron Scale</button>
        </div>

        <div class="shapeMenuClass" id="shapeMenu-Blink">
            <h4>Blink Menu</h4>
            <h5>Circle</h5>
            <button class="shapeButtonClass" id="shapeCircle-Blink">Circle Blink</button>
            <button class="shapeButtonClass" id="shapeSphere-Blink">Sphere Blink</button>
            <h5>Triangle</h5>
            <button class="shapeButtonClass" id="shapeTriangle-Blink">Trianlge Blink</button>
            <button class="shapeButtonClass" id="shapeCone-Blink">Cone Blink</button>
            <h5>Rectangle</h5>
            <button class="shapeButtonClass" id="shapeRectangle-Blink">Rectangle Blink</button>
            <button class="shapeButtonClass" id="shapeBox-Blink">Box Blink</button>
            <h5>Pentagon</h5>
            <button class="shapeButtonClass" id="shapePentagon-Blink">Pentagon Blink</button>
            <button class="shapeButtonClass" id="shapeDodecahedron-Blink">Dodecahedron Blink</button>
        </div>

        <div class="shapeMenuClass" id="shapeMenu-Gradient">
            <h4>Gradient Menu</h4>
            <h5>Circle</h5>
            <button class="shapeButtonClass" id="shapeCircle-Gradient">Circle Gradient</button>
            <button class="shapeButtonClass" id="shapeSphere-Gradient">Sphere Gradient</button>
            <h5>Triangle</h5>
            <button class="shapeButtonClass" id="shapeTriangle-Gradient">Trianlge Gradient</button>
            <button class="shapeButtonClass" id="shapeCone-Gradient">Cone Gradient</button>
            <h5>Rectangle</h5>
            <button class="shapeButtonClass" id="shapeRectangle-Gradient">Rectangle Gradient</button>
            <button class="shapeButtonClass" id="shapeBox-Gradient">Box Gradient</button>
            <h5>Pentagon</h5>
            <button class="shapeButtonClass" id="shapePentagon-Gradient">Pentagon Gradient</button>
            <button class="shapeButtonClass" id="shapeDodecahedron-Gradient">Dodecahedron Gradient</button>
        </div>


        <br>
        <div id="customSliders">
            <h4>Color Menu</h4>
            <button id="backgroundColor">Background Color <input id="backgroundColorID" type="text" data-coloris> </button> <button id="backgroundColorSaveButton"> SAVE </button>
            <br>
            <button id="objectColor1">Object Color 1  <input type="text" data-coloris> </button> <button id="objectColor1SaveButton"> SAVE </button>
        </div>

    <div class="saveTemplate">
        <button id="TemplateJsonSave">Save Json</button>
        <h4>Save Template</h4>
        <!-- <button class="templateButton" id="template1">Test</button> -->
        <div id="templateContainer"></div>
    </div>



    
    <p id="identityVisual"></p>

    <script>
        window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
        ga('create', 'UA-105392568-1', 'auto');
        ga('send', 'pageview');
    </script>
    <script id="fragmentShader" type="shader-code">
        uniform vec2 resolution;
        uniform vec2 mousePosition;
        void main() {
            vec2 pos = (gl_FragCoord.xy - mousePosition.xy * .5) / resolution.xy;
            gl_FragColor = vec4(1.0,pos.x,pos.y,1.0);
        }
    </script>
       
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r134/three.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/mdbassit/Coloris@latest/dist/coloris.min.css"/>
    <script src="https://cdn.jsdelivr.net/gh/mdbassit/Coloris@latest/dist/coloris.min.js"></script>


    <script type="module" defer src="./static/src/js/dist/circle.js"></script>
    <script type="module" defer src="./static/src/js/dist/colorpicker.js"></script>
    <script type="module" defer src="./static/src/js/dist/ui.js"></script>
</body>
</html>